---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import LatestReleases from "../sections/LatestReleases.astro"
---

<Layout title="white---noise --- home">
  <main>
    <Hero />
	  <LatestReleases />
  </main>
</Layout>
