---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
---

<Layout title="white---noise --- home">
	<main>
		<Hero />
		<p style="margin-top: 1000px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sapiente explicabo consectetur fugiat commodi blanditiis. Molestiae nesciunt, nam repudiandae amet deleniti reiciendis labore perspiciatis. Modi corporis quae dolorem commodi fugit.</p>
	</main>
</Layout>
