---
import generatePrice from "../utils/generatePrice";

interface Props {
  title: string;
  image: string;
  artists: Artists[];
  id: string;
}

interface Artists {
  id: string;
  name: string;
}

const { title, image, artists, id } = Astro.props;

const price = generatePrice(20.00, 60.00);
---

<a href={"/albums/" + id} class="album_display__container">
  <img class="album_display__cover" src={image} alt={title}>
  <div class="album_display__content">
    <p class="album_display__title">{title}</p>
    <p class="album_display__artists">{artists.map(x => x.name).join(", ")}</p>
  </div>
  <div class="album_display__footer">
    <p class="album_display__price">{price} €</p>
  </div>
</a>

<style>
  .album_display__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    padding: 28px 20px;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    transition: all ease-in 0.1s;
    border-radius: var(--border-radius);
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;

    &:hover {
      box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.20);
    }
  }

  .album_display__cover {
    width: 90%;
    height: auto;
    margin-bottom: 16px;
    border-radius: var(--border-radius);
  }

  .album_display__title {
    font-weight: 600;
  }

  .album_display__artists {
    margin-bottom: 8px;
  }

  .album_display__footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  @media (max-width: 600px) {
    .album_display__container {
      max-width: 90vw;
      padding: 12px;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .album_display__container {
      max-width: 250px;
    }

    .album_display__cover {
      max-height: 180px;
    }
  }

  @media (min-width: 1024px) {
    .album_display__container {
      max-width: 300px;
      height: 400px;
    }
  }
</style>
</style>
