---
import AlbumDisplay from "../components/AlbumDisplay.astro";

const response = await fetch(Astro.url.origin + "/api/albums/best-sellers");
const bestSellers = await response.json();
---

<section class="section__container">
  <div class="latest__text">
    <h2 class="latest__title">BEST SELLERS</h2>
    <a class="link1" href="">SHOW MORE</a>
  </div>
  <div class="latest__container">
    {
      bestSellers.map((a, i) => (
        <AlbumDisplay
          title={a.name}
          image={a.images[0].url}
          artists={a.artists}
          id={a.id}
        />
      ))
    }
  </div>
</section>

<style>
  .latest__text {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    gap: 28px;
  }

  .latest__container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
</style>
