---
import Logo from "../components/Logo.astro";
import HamburguerIcon from "../icons/hamburguer.astro";
---

<header class="header__container">
  <a href="/">
    <Logo class:list={"logo"} />
  </a>
  <div class="header__menu">
    <HamburguerIcon class:list={"header__hamburguer"} />
    <ul class="header__links">
      <li><a href="">VINYLS</a></li>
      <li><a href="">ARTISTS</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="/search">SEARCH</a></li>
    </ul>
  </div>
</header>

<script>
  const logo = document.getElementsByClassName("logo")[0];
  const menu = document.querySelector(".header__links");
  const hamburguer = document.querySelector(".header__hamburguer");

  document.addEventListener("scroll", () => {
    if(window.scrollY > 0) {
      logo.classList.add("logo--shrink")
    } else {
      logo.classList.remove("logo--shrink")
    }
  });

  hamburguer.addEventListener("click", () => {
    menu.classList.toggle("header__links--active");
  });
</script>

<style>
  .header__container {
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    padding: 20px 0;
    z-index: 100;
  }

  .logo {
    display: block;
    margin: auto;
    height: 40px;
    margin-bottom: 30px;
    text-align: center;
    transition: height ease .1s;
    overflow: visible;
  }

  .logo--shrink {
    height: 28px;
  }

  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20%;
  }

  .header__links > li > a {
    padding: 4px 8px;
    border-radius: var(--border-radius);
  }

  .header__links > li > a:hover {
    opacity: 0.8;
    background-color: var(--color-pale-purple);
    text-decoration: underline;
  }

  .header__hamburguer {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .header__container {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      align-items: center;
    }

    .logo {
      width: 60vw;
      margin: 0;
      margin-bottom: 0;
    }

    .header__links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      background-color: var(--color-background);
      text-align: center;
      padding: 20px 0;
    }

    .header__links.header__links--active {
      display: flex;
    }

    .header__hamburguer {
      display: inline;
      width: 35px;
    }

    .header__menu {
      height: 35px;
    }
  }
</style>
