<section class="hero__container">
  <div class="hero__image-container">
    <a href="">
      <div class="hero__image"></div>
    </a>
  </div>
</section>

<style>
  .hero__container {
    overflow: hidden;
  }

  .hero__image-container {
    height: 50vh;
  }

  .hero__image {
    width: 100%;
    height: 100%;
    background-image: url("/img/hero_1.png");
    background-size: cover;
    background-position: center;
  }

  @media only screen and (max-width: 600px) {
    .hero__image {
      width: 100%;
    }

    .hero__image-container {
      height: 30vh;
    }
  }
</style>
