---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-background: #f4f3f2;
    --color-text: #0b1215;
    --color-primary: #241128;

    --color-sand: #e2dcc9;
    --color-pale-purple: #f0e6f8;
    --border-radius: 5px;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", sans-serif, system-ui;
    font-size: 14px;
    line-height: 1.5;
  }

  html {
    background-color: var(--color-background);
  }

  a {
    color: #000;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  ::-moz-selection {
    background: var(--color-sand);
  }

  ::selection {
    background: var(--color-sand);
  }

  /* General Styles */

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .section__container {
    margin: 100px 160px;
  }

  .hide {
    display: none;
  }

  .link1 {
    text-decoration: underline;
    padding: 0 2px;

    &:hover {
      background-color: var(--color-pale-purple);
    }
  }

  .link2 {
    &:hover {
      text-decoration: underline;
    }
  }
</style>
