---
import Header from "../sections/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  :root {
    --color-sand: #E2DCC9;
    --color-pale-purple: #F0E6F8;
    --border-radius: 3px;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: "Atkinson Hyperlegible";
  }

  a {
    color: #000;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  button, input[type="submit"], input[type="reset"] {
	  background: none;
	  color: inherit;
	  border: none;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: inherit;
  }

  .hide {
    display: none;
  }
</style>
